In [56]:
import pandas as pd

df = pd.read_csv("../data/raw/Telco_customer_churn.csv")
print(df.head(3))

   CustomerID  Count        Country       State         City  Zip Code  \
0  3668-QPYBK      1  United States  California  Los Angeles     90003
1  9237-HQITU      1  United States  California  Los Angeles     90005
2  9305-CDSKC      1  United States  California  Los Angeles     90006

                 Lat Long   Latitude   Longitude  Gender  ...        Contract  \
0  33.964131, -118.272783  33.964131 -118.272783    Male  ...  Month-to-month
1   34.059281, -118.30742  34.059281 -118.307420  Female  ...  Month-to-month
2  34.048013, -118.293953  34.048013 -118.293953  Female  ...  Month-to-month

  Paperless Billing    Payment Method  Monthly Charges Total Charges  \
0               Yes      Mailed check            53.85        108.15
1               Yes  Electronic check            70.70        151.65
2               Yes  Electronic check            99.65         820.5

  Churn Label Churn Value Churn Score  CLTV                  Churn Reason
0         Yes           1          86  3239  Competitor made better offer
1         Yes           1          67  2701                         Moved
2         Yes           1          86  5372                         Moved

[3 rows x 33 columns]

In [57]:
df.info()
#df.shape
#df.isnull().sum()
#df.describe(include="all").T
#df.duplicated().sum()
#df['Total Charges'].head(10)
#df[df['Total Charges'].str.strip() == ""].head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 33 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CustomerID         7043 non-null   object
 1   Count              7043 non-null   int64
 2   Country            7043 non-null   object
 3   State              7043 non-null   object
 4   City               7043 non-null   object
 5   Zip Code           7043 non-null   int64
 6   Lat Long           7043 non-null   object
 7   Latitude           7043 non-null   float64
 8   Longitude          7043 non-null   float64
 9   Gender             7043 non-null   object
 10  Senior Citizen     7043 non-null   object
 11  Partner            7043 non-null   object
 12  Dependents         7043 non-null   object
 13  Tenure Months      7043 non-null   int64
 14  Phone Service      7043 non-null   object
 15  Multiple Lines     7043 non-null   object
 16  Internet Service   7043 non-null   object
 17  Online Security    7043 non-null   object
 18  Online Backup      7043 non-null   object
 19  Device Protection  7043 non-null   object
 20  Tech Support       7043 non-null   object
 21  Streaming TV       7043 non-null   object
 22  Streaming Movies   7043 non-null   object
 23  Contract           7043 non-null   object
 24  Paperless Billing  7043 non-null   object
 25  Payment Method     7043 non-null   object
 26  Monthly Charges    7043 non-null   float64
 27  Total Charges      7043 non-null   object
 28  Churn Label        7043 non-null   object
 29  Churn Value        7043 non-null   int64
 30  Churn Score        7043 non-null   int64
 31  CLTV               7043 non-null   int64
 32  Churn Reason       1869 non-null   object
dtypes: float64(3), int64(6), object(24)
memory usage: 1.8+ MB

In [58]:
print("Duplicate rows:", df.duplicated().sum())
print("\nColumns with whitespace issues:")
for col in df.columns:
    if df[col].dtype == "object":
        dirty = df[col].astype(str).str.contains(r"^\s|\s$", regex=True).sum()
        if dirty > 0:
            print(f"{col}: {dirty} entries")


df.columns[df.columns.str.contains(" ")]

Duplicate rows: 0

Columns with whitespace issues:
Total Charges: 11 entries

Index(['Zip Code', 'Lat Long', 'Senior Citizen', 'Tenure Months',
       'Phone Service', 'Multiple Lines', 'Internet Service',
       'Online Security', 'Online Backup', 'Device Protection', 'Tech Support',
       'Streaming TV', 'Streaming Movies', 'Paperless Billing',
       'Payment Method', 'Monthly Charges', 'Total Charges', 'Churn Label',
       'Churn Value', 'Churn Score', 'Churn Reason'],
      dtype='object')

In [ ]:
df['Total Charges'] = pd.to_numeric(df['Total Charges'].str.strip(), errors='coerce')